{% extends 'flight/layout.html' %}

{% load static %}

{% block head %}
    <title>Search Adventures</title>
    <link rel="stylesheet" href="{% static 'css/search_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/search2_style.css' %}">
    <!--<script src="{% static 'js/search.js' %}"></script>-->
    <script src="{% static 'js/search2.js' %}"></script>
{% endblock %}

{% block body %}
    <section class="section section1">
        <div class="query-data-div">
            <div class="container">
                <div class="trip-places">
                    <div class="from-div text-align-left">
                        <div class="small-label">Coming From</div>
                        <div class="white">{{origin.city}} ({{origin.code}})</div>
{#                        <div class="white">{{adven}}</div>#}
                    </div>
                    <div class="trip-type-div white">
                        <div class="small-label">&nbsp;</div>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                            </svg>
                    </div>
                    <div class="to-div text-align-right">
                        <div class="small-label">Adventure At</div>
                        <div class="white">{{destination.city}} ({{destination.code}})</div>
                    </div>
                </div>
                <div class="v-line"></div>
                <div class="trip-time">
                    <div class="depart-date-div">
                        <div class="small-label">Check In Date</div>
                        <div class="white">{{depart_date|date:"D, d M Y"}}</div>
                    </div>
                    <div class="return-date-div">
                        <div class="small-label">Check Out Date</div>
                        <div class="white">
                            {% if return_date %}
                                {{return_date|date:"D, d M Y"}}
                            {% else %}
                                --
                            {% endif %}
                        </div>
                    </div>
                </div><div class="v-line"></div>
                <div class="trip-class">
                    <div class="return-date-div">
                        <div class="small-label">Service</div>
                        <div class="white">{{service}}</div>
{#                        <div class="white">{{service}}</div>#}
                    </div>
                </div>
                <div class="v-line"></div>
                <div class="trip-modify">
                    <form action="/" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="Origin" value="{{origin.code|upper}}">
                        <input type="hidden" name="Destination" value="{{destination.code|upper}}">
                        <input type="hidden" name="DepartDate" value='{{depart_date|date:"Y-m-d"}}'>
                        <input type="hidden" name="ReturnDate" value='{{return_date|date:"Y-m-d"}}'>
                        <input type="hidden" name="SeatClass" value="{{service|lower}}">
                        <input type="hidden" name="TripType" id="trip-identifier" value="{{trip_type}}">

{#                        <input type="hidden" name="adven" value="{{adven|upper}}">#}
{#                        <input type="hidden" name="destination" value="{{destination.code|upper}}">#}
{#                        <input type="hidden" name="CheckInDate" value='{{depart_date|date:"Y-m-d"}}'>#}
{#                        <input type="hidden" name="Check-Out-Date" value='{{return_date|date:"Y-m-d"}}'>#}
{#                        <input type="hidden" name="ServiceClass" value="{{service|lower}}">#}
{#                        <input type="hidden" name="TripType" id="trip-identifier" value="{{trip_type}}">#}
                        <button class="btn spl-btn" type="submit" style="background-color: #0e3e71; border-color: #0e3e71" >Re-Search</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="query-result-div">
            <div class="container">
                <div class="row">
                    {% if allbooks %}
                        <div class="col-lg-3 filter-div">
                            <div class="close-filter" style="margin-top: 0;">
                                <button class="btn b1" onclick="close_filter(this)">
                                    <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                                    </svg>
                                </button>
                            </div>
                            <div class="filter">
                                <center>
                                    <h4>Filter Results</h4>
                                </center>
                                <div class="filter-box">
                                    <div class="filter-price">
                                        <div class="font-weight-bold">Price</div>
                                        <div>
                                            <input type="range" class="form-control-range" min="{{min_price}}" max="{{max_price}}" value="{{max_price}}" oninput="filter()">
                                            <div class="price-range-output">
                                                <div class="initial-price-range">
                                                    <span class="currency-symbol">₹</span>
                                                    <span class="initial-price-value">{{min_price}}</span>
                                                </div>
                                                <div class="final-price-range">
                                                    <span class="currency-symbol">₹</span>
                                                    <span class="final-price-value"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!---->
                                </div>
                                <div class="clr-filter-div">
                                    <center>
                                        <button class="btn-link">Reset Filters</button>
                                    </center>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 actual-result-div">
                            {% if allbooks %}
{#                            {% if booking %}    #}
                                <div class="sort-div">
                                <div class="flight-company">
                                    <div class="sort-label">Sort By:</div>
                                </div>
                                <div class="flight-time">
                                    <div class="flight-origin-time sort-depart">
                                        Resort Check In Time
                                        <span></span>
                                    </div>
                                    <div class="flight-stops">Adventure Duration</div>
                                    <div class="flight-destination-time sort-arrive">
                                        Resort Check Out Time
                                        <span></span>
                                    </div>
                                </div>
                                <div class="flight-details">
                                    Price
                                    <span><!--&#8593;--><!--&#8595;--></span>
                                </div>
                            </div>
                            {% endif %}

                            <div id="flights_div">
                                {% for book in allbooks %}
{#                                {% for book in booking %}#}

                                    <div class="each-flight-div-box show">
                                        <div class="each-flight-div" onclick="media_click(this)">
                                            <div class="flight-company">
                                                <div class="flight-icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1.5em" height="1.3em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 440 384"><path d="M14 335h405v43H14v-43zm417.5-199.5q3.5 12.5-3 24T409 175l-114 30l-92 25l-114 30l-34 10l-16-29l-39-67l31-9l42 33l106-28L91 17l41-11l147 137l113-30q13-4 24.5 3t15 19.5z" fill="#434445"/><rect x="0" y="0" width="440" height="384" fill="rgba(0, 0, 0, 0)" /></svg>
                                                </div>
                                                <div class="company-details">
                                                    <div class="company-name">{{book.adven}}</div>
                                                    <div class="plane-name">{{book.resort}}</div>
                                                </div>
                                            </div>
                                            <div class="flight-time flight-time-div">
                                                <div class="flight-origin-time">
                                                    <div class="flight-time">
                                                        <h5>({{book.check_in_timing|time:"H:i"}})</h5>
                                                    </div>
                                                    <div class="flight-place">
                                                        {{depart_date|date:"D, d M Y"}}
                                                    </div>
                                                </div>

                                                <div class="flight-stops tooltip">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="24" viewBox="0 0 24 24">
                                                        <path d="M13,9.03544443 C14.6961471,9.27805926 16,10.736764 16,12.5 C16,14.263236 14.6961471,15.7219407 13,15.9645556 L13,21.5207973 C13,21.7969397 12.7761424,22.0207973 12.5,22.0207973 C12.2238576,22.0207973 12,21.7969397 12,21.5207973 L12,15.9645556 C10.3038529,15.7219407 9,14.263236 9,12.5 C9,10.736764 10.3038529,9.27805926 12,9.03544443 L12,3.5 C12,3.22385763 12.2238576,3 12.5,3 C12.7761424,3 13,3.22385763 13,3.5 L13,9.03544443 L13,9.03544443 Z M12.5,15 C13.8807119,15 15,13.8807119 15,12.5 C15,11.1192881 13.8807119,10 12.5,10 C11.1192881,10 10,11.1192881 10,12.5 C10,13.8807119 11.1192881,15 12.5,15 Z" transform="rotate(90 12.5 12.51)"/>
                                                    </svg>
                                                    <span class="tooltiptext" data-value="{{book.duration}}"></span><!--07 hrs 50 mins-->
                                                </div>
                                                <div class="flight-destination-time">
                                                    <div class="flight-time">
                                                        <h5>({{book.check_out_time|time:"H:i"}})</h5>
                                                    </div>
                                                    <div class="flight-place">
                                                        {{return_date|date:"D, d M Y"}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="flight-details">
                                                <div class="flight-price">
                                                    <h5>
                                                            {% if trip_type == '1' %}
                                                            <span>
{#                                                                {% if service == 'Regular' %}{{book.regular_fare}}{% endif %}#}
{#                                                                {% if service == 'Premium' %}{{book.premium_fare}}{% endif %}#}
                                                                USD $ {{ price }}
                                                            </span>
                                                            {% elif trip_type == '2' %}
                                                            <span>
                                                                CAD $ {{ price }}
                                                            </span>
{#                                                            {% elif trip_type == 2 %}#}
{#                                                            <span>#}
{#                                                                {% if seat == 'REGULAR' %}{{(flight.regular_fare)*1.50}}{% endif %}#}
{#                                                                {% if seat == 'PREMIUM' %}{{(flight.premium_fare)*1.50}}{% endif %}#}
{#                                                            </span>#}
{#                                                            {% elif trip_type == 2 %}#}
{#                                                            <span>#}
{#                                                                {% if seat == 'REGULAR' %}{{(flight.regular_fare)*0.82}}{% endif %}#}
{#                                                                {% if seat == 'PREMIUM' %}{{(flight.premium_fare)*0.82}}{% endif %}#}
{#                                                            </span>#}
{#                                                            {% elif trip_type == 2 %}#}
{#                                                            <span>#}
{#                                                                {% if seat == 'REGULAR' %}{{(flight.regular_fare)*0.93}}{% endif %}#}
{#                                                                {% if seat == 'PREMIUM' %}{{(flight.premium_fare)*0.93}}{% endif %}#}
{#                                                            </span>#}
                                                        {% endif %}
                                                    </h5>
                                                </div>
                                                <div class="flight-details-btn">
                                                        <form action="{% url 'review' %}" method="GET" style="display: flex;">
                                                            <input type="hidden" name="bookId" value="{{book.id}}">
                                                            <input type="hidden" name="bookDate", value="{{depart_date|date:'d-m-Y'}}">
                                                            <input type="hidden" name="returnDate", value="{{return_date|date:'d-m-Y'}}">
                                                            <input type="hidden" name="serviceClass" value="{{service}}">
                                                            <input type="hidden" name="duration" value="{{book.duration}}">
                                                            <input type="hidden" name="trip_type" value="{{trip_type}}">
                                                            <button class="btn btn-primary btn-danger o-b" style="background-color: #0e3e71; border-color: #0e3e71" type="submit">
                                                                Book Now <!--&#8594;-->
                                                            </button>
                                                        </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <div style="height: 100%; width:100%; padding: 10%;">
                            <div style="text-align: center; margin: auto;">
                                <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-exclamation-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                                </svg>
                                <br><br>
                                <h3>Sorry, No adventures available now for this Search</h3>
                                <p>
                                    We can not find any adventures for the service of your search. Please modify your search criteria and try again.
                                </p>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
